body {
    color: #fff;
    background-color: #121361;
}
/* #contentBox{
    padding: 10px;
    margin: 10px;
} */

/** HEADER **/
#header-nav {
    background-color: #1383c4;
    border-radius: 0;
    border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.box1{
    
    padding-left: 25px;
}

.navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: #557c3e;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-bottom: 20px;
}

#nav-list {
    background-color: white;
    color: #000000;
    margin: 2px;
}
#nav-list p {
    border: 1px solid #000000;
    text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -33px;
}





#row_content .item-text {
    background: #5e5e5e;
    padding: 10px;
    
}

@media (min-width: 1200px) {
    #contentBox{
        padding: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}
